* {
  padding: 0px;
  margin: 0px;
  border: 0;
}

header {
  width: 100%;
  height: auto;
  background-color: #0b005a;
  backdrop-filter: blur(4px);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
  height: 60px;
  width: auto;
}
header nav {
  z-index: 10;
}

header .nav-link {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
}

header .nav-link.active {
  border-bottom: 3px solid white;
}

header .nav-item {
  height: 100%;
  padding: 0px 1rem;
}

header .navbar-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.layout-options {
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  z-index: 9;
}

.layout-options {
  display: none;
  opacity: 0;
  transition: opacity 0.7s;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
}

.layout-options.is-open {
  display: block;
  opacity: 1;
}

.image-selector {
  border: 2px solid transparent;
  transition: border 0.7s;
  overflow: hidden;
}

.image-selector:hover {
  border: 2px solid darkblue;
}

.image-selector.active {
  border: 2px solid darkblue;
}

.image-selector img {
  transition: transform 0.7s;
}

.image-selector:hover img {
  transform: scale(1.2);
}

.avatar {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#tasks,
#team {
  background-image: url("../images/background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.task-input-wrapper {
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  padding: 2rem 2rem 1.3rem;
}

#assigned-tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task {
  width: 100%;
  background-color: #fff;
  max-width: 800px;
  padding: 1rem;
  margin-top: 2px;
  display: flex;
}

#form { 
  width: 100%;
}

.task .delete,
.task .edit {
  border: 1px solid #ccc;
}

.task .task-input {
  flex-grow: 1;
  padding-left: 1rem;
  border-radius: 0px;
}

.task .task-input:focus-visible {
  border-radius: 0px;
}

.task-input.line-through {
  text-decoration: line-through;
}

.material-symbols-outlined {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  transition: all 0.7s;
}

.task .check {
  background-color: white;
  width: 32px;
  height: 32px;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  font-size: 32px;
  color: #13005a;
  transition: all;
  margin-right: 10px;
}

.task .check.active {
  background-color: lightgreen;
  width: 32px;
  height: 32px;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  font-size: 32px;
  color: #13005a;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.task .edit:hover {
  background-color: #13005a;
  color: white;
}

.task .delete:hover {
  background-color: red;
  color: white;
}

#input-task {
  border-radius: 0px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}

.btn.btn-success {
  border-radius: 0px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1024px) {
  .navbar-collapse {
    height: 90px;
  }

  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.footer-bs {
  position: static;
  width: 100%;
  min-height: 320px;
  bottom: 0;
  left: 0;
  background-color: #13005a;
}
#footer-parent-container {
  max-width: fit-content;
  color: aliceblue;
}
#footer-main-row {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-around;
}
#footer-form {
  width: max-content;
}
#footer-col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
#footer-col-middle {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
#footer-quicknav-link {
  box-shadow: inset 0 0 0 0 #03c988;
  color: #03c988;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#footer-quicknav-link:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #03c988;
}

#footer-col-right {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  #footer-main-row {
    padding: 0px;
    gap: 0px;
  }
}
#team {
  padding: 60px 0;
  text-align: center;
  background-color: #d1d1d1;
  /*color: #145889;*/
}
#team h1 {
  position: relative;
  padding: 0px 0px 15px;
}
#team p {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  padding: 0px;
  margin: 25px 0px 40px;
}
#team h2::after {
  content: "";
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 90px;
  margin: 0 auto;
  display: block;
}
#team .member {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #212529;
  padding: 7px;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 5px 10px 6px 0px rgba(0, 0, 0, 0.4);
}
#team .member .member-info {
  font-weight: bold;
  display: block;
  position: absolute;
  bottom: 0px;
  left: -200px;
  transition: 0.4s;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.4);
}
#team .member:hover .member-info {
  left: 0px;
  right: 0px;
  color: #fff;
}
#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
#team .member .social-links {
  margin-top: 15px;
}
#team .member .social-links a {
  transition: all;
  color: #fff;
}
#team .member .social-links a:hover {
  color: #03c988;
}
#team .member .social-links i {
  font-size: 25px;
  margin: 10px;
}
